@import "./utils/reset";
@import "./utils/variables";
@import "./components/header";
@import "./components/slogan";
@import "./components/articles";
@import "./components/our-work";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/newsletter";
@import "./components/modal";
@import "./components/cards";
@import "./utils/mobile-menu";
