.articles__wrapper {
  display: flex;
}

.articles {
  padding-top: 94px;
}

.articles__icon {
  display: flex;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  transition: backround-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.articles__list {
  list-style-position: inside;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.articles__paragraph {
  height: 75px;
  width: 270px;
  left: 515px;
  top: 800px;
  border-radius: nullpx;
  font-size: 14px;
  font-weight: 400;
  line-height: 146%;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  margin-right: 30px;
}

.articles__title {
  height: 16px;
  width: 270px;
  left: 215px;
  top: 774px;
  border-radius: nullpx;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-color);
}
