// General styles

.clients__wrapper {
  border-radius: [object Object]px;
}

.clients__title {
  border-radius: nullpx;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-color);
}

@media screen and (min-width: 320px) {
  .clients__wrapper {
    margin-bottom: 94px;
  }

  .clients__title {
    margin-bottom: 30px;
  }

  .clients__list {
    list-style-position: inside;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }

  .clients__box {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition: fill 250ms, background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 210px;
    height: 90px;
    &:hover {
      border-color: #2196f3;
    }
  }

  .clients__icon {
    fill: #afb1b8;
    transition: fill 250ms, backround-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: #2196f3;
    }
  }
}

// TABLET
@media screen and (min-width: 768px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    flex-direction: row;
    justify-content: center;
  }

  .clients__box {
    margin: 0;
  }

  .clients__title {
    margin-top: 60px;
  }
}
//DESKTOP
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
  }

  .clients__wrapper {
    height: 184px;
    width: 1170px;
    margin-bottom: 94px;
  }

  .clients__title {
    font-size: 36px;
    padding-bottom: 50px;
  }

  .clients__list {
    list-style-position: inside;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }

  .clients__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition: fill 250ms, background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      border-color: #2196f3;
    }
  }

  .clients__icon {
    fill: #afb1b8;
    transition: fill 250ms, backround-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: #2196f3;
    }
  }
}
