// MOBILE FIRST

.box__title {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.box {
  padding-top: 25%;
  border-radius: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
  margin: auto;
  height: 400px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/home/mobile/background.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/home/mobile/backgroundX2.jpg);
  }
}

.box__slogan {
  border-radius: nullpx;
  color: var(--background-color);
  margin: auto;
  text-align: center;
  width: 76%;
  border-radius: 4px;
}

.box__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  margin-top: 30px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0 2px 5px #000000;
  }
}

// TABLET
@media screen and (min-width: 768px) {
  .box {
    height: 400px;
    padding-top: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/home/tablet/tablet-background.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/home/tablet/tablet-backgroundX2.jpg);
    }
  }
}

// DESKTOP
@media screen and (min-width: 1200px) {
  .box {
    left: 0px;
    margin-top: 0px;
    height: 600px;
    max-width: 1600px;
    padding-top: 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/home/desktop/backround.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/home/desktop/backgroundX2.jpg);
    }
  }

  .box__slogan {
    height: 120px;
    width: 696px;
    left: 452px;
    top: 280px;
    padding-top: 200px;
    padding-bottom: 280px;
  }

  .box__title {
    font-size: 44px;
  }

  .box__button {
    margin-top: 30px;
  }
}
