@media screen and (min-width: 320px) {
  .team {
    margin-top: 60px;
  }

  .team__wrapper {
    width: 100%;
    background-color: #f5f4fa;
  }

  .team__title {
    border-radius: nullpx;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
    padding-top: 60px;
  }

  .team__list {
    list-style-position: inside;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }

  .team__members {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px 0px #00000033;
    margin-bottom: 30px;
  }

  .team__member {
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color);
  }

  .team__portrait1 {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 460px;
    background-image: url(/images/home/mobile/portrait1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .team__portrait {
      background-image: url(../images/home/mobile/portrait1X2.jpg);
    }
  }

  .team__portrait2 {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 460px;
    background-image: url(/images/home/mobile/portrait2.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .team__portrait {
      background-image: url(../images/home/mobile/portrait2X2.jpg);
    }
  }

  .team__portrait3 {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 460px;
    background-image: url(/images/home/mobile/portrait3.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .team__portrait {
      background-image: url(../images/home/mobile/portrait3X2.jpg);
    }
  }

  .team__portrait4 {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 460px;
    background-image: url(/images/home/mobile/portrait4.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .team__portrait {
      background-image: url(../images/home/mobile/portrait4X2.jpg);
    }
  }

  .team__description {
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
  }

  .team__social-media {
    display: flex;
    width: 100%;

    align-content: center;
    justify-content: space-around;
    grid-gap: 10px;
  }

  .team__media-list {
    list-style-position: inside;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }

  .team__media-icon {
    display: inline-flex;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #afb1b8;
    transition: fill 250ms, background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: #eeeeee;
      background-color: #2196f3;
    }
  }
}

// DESKTOP
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }

  .team__wrapper {
    width: 100%;
    height: 648px;
    background-color: #f5f4fa;
  }

  .team__title {
    border-radius: nullpx;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 50px;
    padding-top: 94px;
  }

  .team__list {
    list-style-position: inside;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }

  .team__members {
    width: 270px;
    height: 428px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px 0px #00000033;
  }

  .team__member {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color);
  }

  .team__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
  }

  .team__social-media {
    display: flex;
    width: 100%;
    height: 44px;
    align-content: center;
    justify-content: space-around;
    grid-gap: 10px;
  }

  .team__media-list {
    list-style-position: inside;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }

  .team__media-icon {
    display: inline-flex;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #afb1b8;
    transition: fill 250ms, background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: #eeeeee;
      background-color: #2196f3;
    }
  }
}
